.back {
    font-size: 20px;
    padding: 10px;
}
.header {
    height: 100%;
  }

#lixo {
    width: 500px;
    align-items: right;
    padding: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  

.content {
    flex: 1 0 auto;
}

#login {
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: green; 
    margin: 1px;
}


#username {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    color: black; 
    margin: 1px;
}
.footer {
    flex-shrink: 0;
}

html, body {
    height: 100%;
}

body { 
    display: grid;
    flex-direction: column;
}