.header {
    height: 125px;
  }

#lixo {
    width: 500px;
    align-items: right;
    padding: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  

.content {
    flex: 1 0 auto;
}

#login {
    color: white;
    background-color: #2B8B34;
    padding: 10px 24px;
    border-radius: 10px;
    border: 2px solid #2B8B34;
    cursor: pointer;
    align-items: center;
}

#LOGIN {
    background-color: rgb(27, 139, 27);
    color:white;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 24px;

}


#username,#email {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    color: black; 
    margin: 1px;
}

.footer {
    flex-shrink: 0;
}

html, body {
    height: 100%;
}

body { 
    display: grid;
    flex-direction: column;
}


#txtJA{
    color: black;
  
  }