body{
    color: white;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    background-color: #FBF1E5;
  }
  
  #actfirstLogo {
    width: 120px;
    padding: 5px;
  }
  .boxNavAvatar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .titulo{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .boxNav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
  }
  .divLogoAvatar{
    display: flex;
    align-items: center;
  }
  
  #user {
    width: 100px;
    padding: 5px;
  }

#map { 
    height: 550px;
    width: 700px;
    border-radius: 40px;
}
.maisInfo{
    width: 50%;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#maisInfoBox{
    display: flex;
    flex-direction: column;
}
  
.botaoAbandonar{
    color: white;
    background-color: #F57C47;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid #F57C47;
    cursor: pointer;
  }
  .infoAndMap{
      display: flex;
  }
  main{
      display: flex;
      flex-direction: column;
      margin-top: 100px;
  }
  .botao{
      padding-top: 5%;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  #backArrow {
    width: 50px;
    margin-left: 75px;
  }

  .mapaBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }