.titlel{
    font-size: 30px;
    padding: 10px;
    text-align: left;
}

.header {
    height: 100%;
}

#ajudar {
    width: 500px;
    align-items: right;
    padding: 1px;
}

#signup {
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: green; 
    margin: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}