.titlel{
    font-size: 25px;
    padding: 5px;
    text-align: left;
}

#ajudar {
    width: 500px;
    align-items: right;
    padding: 1px;
}

#signup {
    color: white;
    background-color: #2B8B34;
    padding: 10px 24px;
    border-radius: 10px;
    border: 2px solid #2B8B34;
    cursor: pointer;
    align-items: center;
}

#SIGN {
    background-color: rgb(27, 139, 27);
    color:white;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 24px;
}

#username {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    color: black; 
    margin: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;

}