body{
  background-color: #FBF1E5;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
  color: white;
}
.filtro {
  color:green;
  background-color: #FBF1E5;
  padding: 10px;
  margin-top: 50px;
  margin-left: 50px;

}
#actfirstLogo {
  width: 120px;;
  padding: 5px;
}

.header {
  grid-column: 1/2;
  display: flex;
  background: rgb(113, 207, 113);
  padding: 1px;
}

.boxNavAvatar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  margin: 0px 0px 0px 0px;

}
.titulo{
  width: 100%;
  justify-content: center;
  margin:  auto 0% auto auto ;
  text-align: center;
}

.divLogoAvatar{
  display: flex;
  align-items: center;
  width: 120px;
}

#user {
  width: 100px;
  padding: 5px;
}
  
.searchBox {
  background-color: #FBF1E5;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.checkBoxs {
  color: black;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.checkBoxs div {
  margin-bottom: 10px;
}

.botaoPesquisar{
  color: white;
  background-color: #2B8B34;
  padding: 10px 24px;
  border-radius: 8px;
  border: 2px solid #2B8B34;
  cursor: pointer;
  height: min-content;
}

#map { height: 735px; }

.content {
  flex: 1 0 auto;
}


