*{font-family: 'Nerko One', cursive;}
body{
    color: white;
}
header{
  background-color: #F57C47;
  display: flex;
  align-items: center;
}
#actfirstLogo {
  width: 100px;
  padding: 5px;
}
.boxNavAvatar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.boxNav{
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.divLogoAvatar{
  display: flex;
  align-items: center;
}

#user {
  width: 100px;
  padding: 5px;
}

  .searchBox{
    display: flex;
    align-items: center;
    background-color: #FBF1E5;
    width: 100%;
    height: 100px;
  }
 
  .divsearchBox{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .boxLocal{
    width: 22%;
    margin-right: 2%;
    border: 1px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .local{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

  }
  #localIcon{
    width: 40px;
    height: 30px;
  }


  .boxCalendario{
    width: 14%;
    margin-right: 2%;
    border: 1px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .calendario{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
   

  }
  #calendarioIcon{
    width: 40px;
    height: 30px;
  }  

  .botaoPesquisar{
    color: white;
    background-color: #2B8B34;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid #2B8B34;
    cursor: pointer;
  }





  #map { height: 735px; }